body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  position: absolute;
  z-index: 1;
  margin: 10px 0 0 10px;
  font-size: 20px;
}

.image-div {
  background-image: url('/Users/Flare222/C1areC0des/tree-trails/src/data-sources/maria-teneva-QhPFYmTB4Ls-unsplash.jpg');
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-repeat: no-repeat;
    background-size: cover;
}

.home-h1 {
  position: static;
  margin: 0;
  color: white;
  font-size: 2.5em;
  text-align: center;
}

.btn-div {
  display: flex;
  justify-content: space-evenly;
  min-width: 300px;
}

.trail-btn {
  background-color: darkolivegreen;
  border: solid 1px black;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 10px 5px;
  min-width: 120px;
}

.para-div {
  padding: 10px;
}

.map-container {
  width: 100vw;
  height: 100vh;
}

@media only screen and (min-width: 600px) {
  .image-div {
    min-height: 400px;
  }
}