body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map-container {
  width: 100vw;
  height: 90vh;
}

.marker {
  width: 20px;
  height: 30px;
  /* background-color: green;  */
  background-image: url("/src/tree_marker.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding-top: 5px;
}

button {
  border: none;
  background-color: transparent;
}
